@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<div>
    <!-- form action is where we want to redirect to, method is for post method -->
    <form action="/" method="post">
    <input type="text" name="dojolocation">
    <select name="Dojo Location" id="">dojo location</select>
    <br>
    <input type="text" name="fullname">full name
    <br>
    <input type="text" name="favoritelanguage">
    <select name="favoritelanguage" id="">favorite language</select>
    <br>

    </form>
</div>
