@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<div>
    <!-- form action is where we want to redirect to, method is for post method -->
    <form action="/" method="post">
        <input type="text" name="fullName">fullname
        <label for="fullname"></label>
        <br>
        <label for="dojoLocation"></label>
        <select name="dojolocation" id="" value="">
            <option value="seattle">seattle</option>
            <option value="dc">dc</option>
            <option value="casper">casper</option>
        </select>
        <br>
        <label for="dojoLocation"></label>
        <select name="dojolocation" id="" value="">
            <option value="c#">c#</option>
            <option value="python">python</option>
            <option value="kotlin">kotlin</option>
        </select>
        <br>
        <p>comment</p>
        <textarea name="comment" id="" cols="30" rows="5"></textarea>
        <br>
        <button></button>

    </form>
</div>
